<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{solicitarM.titulo}">Modificar solicitud</title>
        <section th:replace="layout/plantilla :: head"/>
</head>
<body style="background-color: #006A96">
    <div class="row">
        <div class="col-3"> 
            <section th:replace="layout/plantilla :: sidebar"/>
        </div>
        <div class="col-9"> 
            <section id="sectionG">
                <h2 style= "color: black;; text-align:center;font-family:sans-serif" th:text="#{solicitarM.mensaje1}">Modificar una solicitud</h2>
        <h2 style="color: black;" th:text="#{solicitarM.mensaje2}">Solicitud a modificar</h2>
        <a th:href="@{/solicitarAuditoria/solicitar}">
            <button type="button" class="btn btn-dark" th:text="#{accion.regresar}">Regresar</button>
        </a>
        <br/>
        <div style="color: black;">
            <form style="display: flex;"
                  th:action="@{/solicitarAuditoria/guardarSolicitud}"
                  method="post"
                  th:object="${solicitud}">
                
                <div id="divS">
                    <input type="hidden" name="id_Solicitud" th:field="*{id_Solicitud}"/>

                    <div class="mb-3">
                    <label for="nombre" class="form-label" th:text="#{solicitarM.nombre}">Nombre del solicitante:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" th:field="*{nombre_solicitante}">
                    </div>

                    <div class="mb-3">
                    <label for="correo" class="form-label" th:text="#{solicitarM.correo}">Correo del solicitante:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="correo" th:field="*{correo}">
                    </div>

                    <div class="mb-3">
                    <label for="telefono" class="form-label" th:text="#{solicitarM.telefono}">Telefono del solicitante:</label>
                    <input type="tel" class="form-control" id="exampleFormControlInput1" name="telefono" th:field="*{telefono}">
                    </div>

                    <div class="mb-3">
                    <label for="cedula" class="form-label" th:text="#{solicitarM.cedula}">Cedula del solicitante:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="cedula" th:field="*{cedula}">
                    </div>

                    <div class="mb-3">
                    <label for="puesto" class="form-label" th:text="#{solicitarM.puesto}">Puesto del solicitante:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="puesto" th:field="*{puesto}">
                    </div>
                    
                    <button type="submit" class="btn btn-dark" name="guardar" value="Guardar" th:text="#{accion.guardar}">Guardar</button>
                </div>
                
                <div id="divS"> 
                    <div class="mb-3">
                    <label for="empresa" class="form-label" th:text="#{solicitarM.empresa}">Empresa del solicitante:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="empresa" th:field="*{empresa}">
                    </div>

                    <div class="mb-3">
                    <label for="area_empre" class="form-label" th:text="#{solicitarM.AAA}">Area de la empresa a auditar:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="area_empre" th:field="*{area_empre}">
                    </div>

                    <div class="mb-3">
                    <label for="ced_empre" class="form-label" th:text="#{solicitarM.cedulaJ}">Cedula juridica de la empresa:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="ced_empre" th:field="*{ced_empre}">
                    </div>

                    <div class="mb-3">
                    <label for="correo_empre" class="form-label" th:text="#{solicitarM.correoE}">Correo de la empresa:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" name="ced_empre" th:field="*{correo_empre}">
                    </div>

                    <div class="mb-3">
                    <label for="direccion_empre" class="form-label" th:text="#{solicitarM.direccionE}">Direccion de la solicitante:</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" name="direccion_empre" th:field="*{direccion_empre}">
                    </div>
                
                </div>
                
                
                
                
                <!-- comment -->
                
<!--                <input type="hidden" name="id_Solicitud" th:field="*{id_Solicitud}"/>
                <label for="nombre" th:text="#{solicitarM.nombre}">Nombre del solicitante:</label>
                <input type="text" name="nombre" th:field="*{nombre_solicitante}"/>
                <br>
                    
                <label for="correo" th:text="#{solicitarM.correo}">Correo del solicitante:</label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br>
                    
                <label for="telefono" th:text="#{solicitarM.telefono}">Telefono del solicitante:</label>
                <input type="tel" name="telefono" th:field="*{telefono}"/>
                <br>
                    
                <label for="cedula" th:text="#{solicitarM.cedula}">Cedula del solicitante:</label>
                <input type="text" name="cedula" th:field="*{cedula}"/>
                <br>
                    
                <label for="puesto" th:text="#{solicitarM.puesto}">Puesto del solicitante:</label>
                <input type="text" name="puesto" th:field="*{puesto}">
                <br>
                    
                <label for="empresa" th:text="#{solicitarM.empresa}">Empresa del solicitante:</label>
                <input type="text" name="empresa" th:field="*{empresa}"/>
                <br>
                    
                <label for="area_empre" th:text="#{solicitarM.AAA}">Area de la empresa a auditar:</label>
                <input type="text" name="area_empre" th:field="*{area_empre}"/>
                <br>
                    
                <label for="ced_empre" th:text="#{solicitarM.cedulaJ}">Cedula juridica de la empresa:</label>
                <input type="text" name="ced_empre" th:field="*{ced_empre}"/>
                <br>
                    
                <label for="correo_empre" th:text="#{solicitarM.correoE}">Correo de la empresa:</label>
                <input type="email" name="correo_empre" th:field="*{correo_empre}"/>
                <br>
                    
                <label for="direccion_empre" th:text="#{solicitarM.direccionE}">Direccion de la solicitante:</label>
                <input type="text" name="direccion_empre" th:field="*{direccion_empre}"/>
                <br>
                    
                <input type="submit" name="guardar" value="Guardar" th:text="#{accion.guardar}">-->
        
            </form>
            </div>
            </section>
        </div>
    </div>
    <div>
        <br>
        <br>
        
        </div>
    </div>
</body>
</html>