<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Solicitar auditoria</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    <header class="header">
        <nav class="nav">
            <a class="logo nav-link">Audit System</a>                 
            <ul class="nav-menu">        
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/}">Home</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/solicitarAuditoria/solicitar}">Solicitar auditoria</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/loginUsuario/logUser}">User Login</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/loginAdmin/logAdmin}">Admin Login</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/noticias/noticias}">News</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/fqa/fqa}">FQA</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/material/material}">Material de apoyo</a></li>
            </ul>
        </nav>
    </header>
</head>
<body>
    <div>
        <br>
        <br>
        <h1 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif">Solicite una auditoria!</h1>
        <br>
        <br>
        <h2 style="color: black; text-align:center">Lista de solicitudes de auditorias</h2>
        <a th:href="@{/solicitarAuditoria/nuevaSolicitud}">Nueva Solicitud</a>
        <div th:if="${solicitudes!=null and !solicitudes.empty}">
            <table border="1" style="color: black; text-align: center;">
                <thead>
                    <tr>
                        <th>Nombre Solicitante</th>
                        <th>Correo</th>
                        <th>Telefono</th>
                        <th>Cedula</th>
                        <th>Puesto</th>
                        <th>Empresa</th>
                        <th>Area a Auditar</th>
                        <th>Cedula juridica de la empresa</th>
                        <th>Correo de la empresa</th>
                        <th>Direccion de la empresa</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="solicitud : ${solicitudes}">
                        <td th:text="${solicitud.nombre_solicitante}"></td>
                        <td th:text="${solicitud.correo}"></td>
                        <td th:text="${solicitud.telefono}"></td>
                        <td th:text="${solicitud.cedula}"></td>
                        <td th:text="${solicitud.puesto}"></td>
                        <td th:text="${solicitud.empresa}"></td>
                        <td th:text="${solicitud.area_empre}"></td>
                        <td th:text="${solicitud.ced_empre}"></td>
                        <td th:text="${solicitud.correo_empre}"></td>
                        <td th:text="${solicitud.direccion_empre}"></td>
                        <td><a th:href="@{/solicitarAuditoria/modifica/} + ${solicitud.id_Solicitud}">Modificar</a></td>
                        <td><a th:href="@{/solicitarAuditoria/eliminar/} + ${solicitud.id_Solicitud}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${solicitudes == null or solicitudes.empty}"> 
            <p style="color: black;">En este momento no tenemos ninguna solicitud de auditoria</p>
        </div>
    </div>
</body>
</html>