<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{solicitar.titulo}">Solicitar auditoria</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header th:replace="layout/plantilla :: header"/>
    
    <div>
        <br>
        <br>
        <h1 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif" th:text="#{solicitar.mensaje1}">Solicite una auditoria!</h1>
        <br>
        <br>
        <h2 style="color: black; text-align:center" th:text="#{solicitar.mensaje2}">Lista de solicitudes de auditorias</h2>
        <a th:href="@{/solicitarAuditoria/nuevaSolicitud}" th:text="#{solicitar.nuevo}">Nueva Solicitud</a>
        <div th:if="${solicitudes!=null and !solicitudes.empty}">
            <table border="1" style="color: black; text-align: center;">
                <thead>
                    <tr>
                        <th th:text="#{solicitar.nombre}">Nombre Solicitante</th>
                        <th th:text="#{solicitar.correo}">Correo</th>
                        <th th:text="#{solicitar.telefono}">Telefono</th>
                        <th th:text="#{solicitar.cedula}">Cedula</th>
                        <th th:text="#{solicitar.puesto}">Puesto</th>
                        <th th:text="#{solicitar.empresa}">Empresa</th>
                        <th th:text="#{solicitar.AAA}">Area a Auditar</th>
                        <th th:text="#{solicitar.cedulaJ}">Cedula juridica de la empresa</th>
                        <th th:text="#{solicitar.correoE}">Correo de la empresa</th>
                        <th th:text="#{solicitar.direccionE}">Direccion de la empresa</th>
                        <th th:text="#{accion.actualizar}">Modificar</th>
                        <th th:text="#{accion.eliminar}">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="solicitud : ${solicitudes}">
                        <td th:text="${solicitud.nombre_solicitante}"></td>
                        <td th:text="${solicitud.correo}"></td>
                        <td th:text="${solicitud.telefono}"></td>
                        <td th:text="${solicitud.cedula}"></td>
                        <td th:text="${solicitud.puesto}"></td>
                        <td th:text="${solicitud.empresa}"></td>
                        <td th:text="${solicitud.area_empre}"></td>
                        <td th:text="${solicitud.ced_empre}"></td>
                        <td th:text="${solicitud.correo_empre}"></td>
                        <td th:text="${solicitud.direccion_empre}"></td>
                        <td><a th:href="@{/solicitarAuditoria/modifica/} + ${solicitud.id_Solicitud}">Modificar</a></td>
                        <td><a th:href="@{/solicitarAuditoria/eliminar/} + ${solicitud.id_Solicitud}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${solicitudes == null or solicitudes.empty}"> 
            <p style="color: black;" th:text="#{solicitar.mensaje3}">En este momento no tenemos ninguna solicitud de auditoria</p>
        </div>
    </div>
    <center>
    <footer th:replace="layout/plantilla :: footer"/>
    </center>
</body>
</html>