<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{solicitar.titulo}">Solicitar auditoria</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body style="background-color: #006A96">
    <div class="row"> 
        <div class="col-3">
            <section th:replace="layout/plantilla :: sidebar"/>
        </div>
        <div class="col-9">
            <section id="sectionG">
                <h2 style="color: black; text-align:center;font-family:sans-serif" th:text="#{solicitar.mensaje1}">Solicite una auditoria!</h2>
        <br>
        <h2 style="color: black; text-align:center" th:text="#{solicitar.mensaje2}">Lista de solicitudes de auditorias</h2>
        <div>
        <a th:href="@{/solicitarAuditoria/nuevaSolicitud}">
            <button type="button" class="btn btn-dark" th:text="#{solicitar.nuevo}">Nueva Solicitud</button>
        </a>
        </div>
        <br>
        <div th:if="${solicitudes!=null and !solicitudes.empty}">
            <table class="table table-dark table-hover" border="1" style="text-align: center;">
                <thead>
                    <tr>
                        <th th:text="#{solicitar.nombre}">Nombre Solicitante</th>
                        <th th:text="#{solicitar.correo}">Correo</th>
                        <th th:text="#{solicitar.telefono}">Telefono</th>
                        <th th:text="#{solicitar.cedula}">Cedula</th>
                        <th th:text="#{solicitar.puesto}">Puesto</th>
                        <th th:text="#{solicitar.empresa}">Empresa</th>
                        <th th:text="#{solicitar.AAA}">Area a Auditar</th>
                        <th th:text="#{solicitar.cedulaJ}">Cedula juridica de la empresa</th>
                        <th th:text="#{solicitar.correoE}">Correo de la empresa</th>
                        <th th:text="#{solicitar.direccionE}">Direccion de la empresa</th>
                        <th th:text="#{accion.actualizar}">Modificar</th>
                        <th th:text="#{accion.eliminar}">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="solicitud : ${solicitudes}">
                        <td th:text="${solicitud.nombre_solicitante}"></td>
                        <td th:text="${solicitud.correo}"></td>
                        <td th:text="${solicitud.telefono}"></td>
                        <td th:text="${solicitud.cedula}"></td>
                        <td th:text="${solicitud.puesto}"></td>
                        <td th:text="${solicitud.empresa}"></td>
                        <td th:text="${solicitud.area_empre}"></td>
                        <td th:text="${solicitud.ced_empre}"></td>
                        <td th:text="${solicitud.correo_empre}"></td>
                        <td th:text="${solicitud.direccion_empre}"></td>
                        <td><a th:href="@{/solicitarAuditoria/modifica/} + ${solicitud.id_Solicitud}">Modificar</a></td>
                        <td><a th:href="@{/solicitarAuditoria/eliminar/} + ${solicitud.id_Solicitud}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${solicitudes == null or solicitudes.empty}"> 
            <p style="color: black;" th:text="#{solicitar.mensaje3}">En este momento no tenemos ninguna solicitud de auditoria</p>
        </div>
            </section>
        </div>
    </div>
</body>
</html>