<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head >
        <title th:text="#{auditoria.titulo}">Auditorias</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="/estilos.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

<body style="background-color: #006A96">
    <div class="row">
        <br>
        <div class="col-3">
            <section th:replace="layout/plantilla :: sidebar"/>
        </div>
        <div class="col-9"> 
        <section id="sectionG">
        <h2 style="color: black; text-align:center;font-family:sans-serif" th:text="#{auditoria.mensaje1}">Inscribe la informacion de la auditoria</h2>
        <br>
        <h2 style="color: black; text-align:center" th:text="#{auditoria.lista}">Lista de auditorias</h2>
        <div>
        <a th:href="@{/auditoria/nuevaAuditoria}">
            <button type="button" class="btn btn-dark" th:text="#{auditoria.nuevo}">Nueva auditoria</button>
        </a>
        </div>
        <br>
        <div th:if="${auditorias!=null and !auditorias.empty}">
            <table class="table table-dark table-hover" border="1" style="text-align: center;">
                <thead>
                    <tr>
                        <th th:text="#{auditoria.nombre}">Nombre auditor encargado</th>
                        <th th:text="#{auditoria.fecha}">Fecha</th>
                        <th th:text="#{auditoria.area}">Area auditada</th>
                        <th th:text="#{auditoria.calificacion}">Calificacion</th>
                        <th th:text="#{accion.actualizar}">Modificar</th>
                        <th th:text="#{accion.eliminar}">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="auditoria : ${auditorias}">
                        <td th:text="${auditoria.auditor}"></td>
                        <td th:text="${auditoria.fecha}"></td>
                        <td th:text="${auditoria.area_auditada}"></td>
                        <td th:text="${auditoria.calificacion}"></td>   
                        <td><a th:href="@{/auditoria/modifica/} + ${auditoria.id_Auditoria}">Modificar</a></td>
                        <td><a th:href="@{/auditoria/eliminar/} + ${auditoria.id_Auditoria}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
           
        </div>
        
        <div sec:authorize="hasRole('ROLE_ADMIN')">
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/auditoria/ReporteAuditoria}"> 
                    <button type="button" class="btn btn-dark">Reporte</button>
                </a>
            </div>
        
        
        <div th:if="${auditorias == null or auditorias.empty}"> 
            <p style="color: black;" th:text="#{auditoria.mensaje2}">En este momento no tenemos ningun auditor en lista</p>
        </div>
        </section>
        </div>
    </div>
</body>
</html>