<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{auditoria.titulo}">Auditorias</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>

<body>
    <header th:replace="layout/plantilla :: header"/>
    <div>
        <br>
        <br>
        <h2 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif" th:text="#{auditoria.mensaje1}">Inscribe la informacion de la auditoria</h2>
        <br>
        <br>
        <h2 style="color: black; text-align:center" th:text="#{auditoria.lista}">Lista de auditorias</h2>
        <a th:href="@{/auditoria/nuevaAuditoria}" th:text="#{auditoria.nuevo}">Nueva auditoria</a>
        <div th:if="${auditorias!=null and !auditorias.empty}">
            <table border="1" style="color: black; text-align: center;">
                <thead>
                    <tr>
                        <th th:text="#{auditoria.nombre}">Nombre auditor encargado</th>
                        <th th:text="#{auditoria.fecha}">Fecha</th>
                        <th th:text="#{auditoria.area}">Area auditada</th>
                        <th th:text="#{auditoria.calificacion}">Calificacion</th>
                        <th th:text="#{accion.actualizar}">Modificar</th>
                        <th th:text="#{accion.eliminar}">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="auditoria : ${auditorias}">
                        <td th:text="${auditoria.auditor}"></td>
                        <td th:text="${auditoria.fecha}"></td>
                        <td th:text="${auditoria.area_auditada}"></td>
                        <td th:text="${auditoria.calificacion}"></td>   
                        <td><a th:href="@{/auditoria/modifica/} + ${auditoria.id_Auditoria}">Modificar</a></td>
                        <td><a th:href="@{/auditoria/eliminar/} + ${auditoria.id_Auditoria}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${auditorias == null or auditorias.empty}"> 
            <p style="color: black;" th:text="#{auditoria.mensaje2}">En este momento no tenemos ningun auditor en lista</p>
        </div>
    </div>
    <footer th:replace="layout/plantilla :: footer"/>
</body>
</html>