<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{auditoriaM.titulo}">Modificar Auditoria</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header th:replace="layout/plantilla :: header"/>
    <div>
        <br>
        <br>
        <h2 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif" th:text="#{auditoriaM.mensaje1}">Modificar una solicitud</h2>
        <br>
        <br>
        <h2 th:text="#{auditoriaM.mensaje2}">Auditoria a modificar</h2>
        <a th:href="@{/}" th:text="#{accion.regresar}">Regresar</a>
        <br/>
        <div style="color: black;">
            
            <form th:action="@{/auditoria/guardarAuditoria}"
                  method="post"
                  th:object="${auditoria}">
                
                <input type="hidden" name="id_Auditoria" th:field="*{id_Auditoria}"/>
                <label for="nombre" th:text="#{auditoriaM.nombre}">Nombre del Auditor encargado:</label>
                <input type="text" name="nombre" th:field="*{auditor}"/>
                <br>
                    
                <label for="fecha" th:text="#{auditoriaM.fecha}">Fecha en que se realizo la auditoria</label>
                <input type="text" name="fecha" th:field="*{fecha}"/>
                <br>
                    
                <label for="areaAuditada" th:text="#{auditoriaM.area}">Area auditada</label>
                <input type="text" name="areaAuditada" th:field="*{area_auditada}"/>
                <br>
                    
                <label for="calificacion" th:text="#{auditoriaM.calificacion}">Calificacion de la auditoria</label>
                <input type="text" name="calificacion" th:field="*{calificacion}"/>
                <br>
                    
                <input type="submit" name="guardar" value="Guardar" th:text="#{accion.guardar}">
            </form>
        </div>
        
    </div>
    <center>
    <footer th:replace="layout/plantilla :: footer"/>
    </center>
</body>
</html>