<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{usuariosM.titulo}">Modificar Usuarios</title>
        <section th:replace="layout/plantilla :: head"/>
</head>
<body style="background-color: #006A96">
    <div class="row">
        <div class="col-3">
            <section th:replace="layout/plantilla :: sidebar"/>
        </div>
        <div class="col-9"> 
            <section id="sectionG"> 
                <h2 style= "color: black;; text-align:center;font-family:sans-serif" th:text="#{usuariosM.mensaje1}">Añadir o modificar un usuario</h2>
                <br>
                <br>
        <h2 style="color: black;" th:text="#{usuariosM.mensaje2}">Datos del usuario a añadir o modificar</h2>
        <a th:href="@{/usuarios/usuario}">
            <button type="button" class="btn btn-dark" th:text="#{accion.regresar}">Regresar</button>
        </a>
        <div style="color: black;">
            <form th:action="@{/usuarios/guardarUsuario}"
                  method="post"
                  th:object="${usuario}">   
                
                <input type="hidden" name="id_Usuario" th:field="*{id_Usuario}"/>
                <div class="mb-3">
                <label for="nombre" class="form-label" th:text="#{usuariosM.nombre}">Nombre del usuario:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="nombre" th:field="*{nombre}">
                </div> 
                <div class="mb-3">
                <label for="correo" class="form-label" th:text="#{usuariosM.correo}">Correo del usuario:</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" name="correo" th:field="*{correo}">
                </div>
                <div class="mb-3">
                <label for="cedula" class="form-label" th:text="#{usuariosM.cedula}">Cedula del usuario:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="cedula" th:field="*{cedula}">
                </div>
                <div class="mb-3">
                <label for="username" class="form-label" th:text="#{usuariosM.user}">Username:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="username" th:field="*{username}">
                </div> 
                <div class="mb-3">
                <label for="password" class="form-label" th:text="#{usuariosM.clave}">Username:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="password" th:field="*{password}">
                </div>  
                <div class="mb-3">
                <label for="idrol" class="form-label" th:text="#{usuariosM.rol}">Rol del usuario:</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" name="idrol" th:field="*{idRol}">
                </div>
                <button type="submit" class="btn btn-dark" name="guardar" value="Guardar" th:text="#{accion.guardar}">Guardar</button>  
<!--     
                <input type="hidden" name="id_Usuario" th:field="*{id_Usuario}"/>
                
                <label for="nombre" th:text="#{usuariosM.nombre}">Nombre del usuario:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br>
                    
                <label for="correo" th:text="#{usuariosM.correo}">Correo del usuario:</label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br>
                    
                <label for="cedula" th:text="#{usuariosM.cedula}">Cedula del usuario:</label>
                <input type="text" name="cedula" th:field="*{cedula}"/>
                <br>
                    
                <label for="username" th:text="#{usuariosM.user}">Username:</label>
                <input type="text" name="username" th:field="*{username}">
                <br>
                    
                <label for="password" th:text="#{usuariosM.clave}">Contraseña:</label>
                <input type="text" name="password" th:field="*{password}"/>
                <br>
                    
                <label for="idrol" th:text="#{usuariosM.rol}">Rol del usuario:</label>
                <input type="text" name="idrol" th:field="*{idRol}"/>
                <br>

                <input type="submit" name="guardar" value="Guardar" th:text="#{accion.guardar}">-->    
            </form>
        </div>
            </section>
        </div>
    </div>
</body>
</html>