<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{aplicacion.titulo}">Sistema</title>
        <meta charset="UTF-8">
            <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
            <link href="/estilos.css" rel="stylesheet" type="text/css"/>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </head>

    <body>
        <header class="header">
            <nav class="nav">
                <a th:href="@{/}" class="logo nav-link" th:text="#{aplicacion.titulo}" style="color: black;"><h2>Sistema de Auditoria</h2></a>                 
                <ul class="nav-menu">        
                    <ul class="nav-menu">        
                        
                        <li class="nav-menu-item"><a style="color: black;" class= "nav-menu-link" th:href="@{/usuarios/usuario}" sec:authorize="hasRole('ROLE_ADMIN')" th:text="#{plantilla.admin}">Opciones de ADMIN</a></li>
                        <li class="nav-menu-item"><a style="color: black;" class= "nav-menu-link" th:href="@{/auditoria/auditoria}" sec:authorize="hasRole('ROLE_USER')" th:text="#{plantilla.user}">Opciones de USER</a></li>
                        <li class="nav-menu-item"><a style="color: black;" class= "nav-menu-link" th:href="@{/solicitarAuditoria/nuevaSolicitud}" th:text="#{plantilla.solicitarAu}">Solicitar una auditoria</a></li>
                        <li class="nav-menu-item"><a style="color: black;" class= "nav-menu-link" th:href="@{/noticias/noticias}" th:text="#{plantilla.noticias}">Noticias</a></li>
                        <li class="nav-menu-item"><a style="color: black;" class= "nav-menu-link" th:href="@{/fqa/fqa}" th:text="#{plantilla.pf}">PF</a></li>
                        <li class="nav-menu-item"><a style="color: black;" class= "nav-menu-link" th:href="@{/material/material}" th:text="#{plantilla.materialAp}">Material de apoyo</a></li>
                    </ul>
                </ul>
            </nav>
        </header>
        <footer th:fragment="footer" class="footer"> 
            <div>
                <p style="color: black" th:text="#{plantilla.derechos}"> &COPY; Derechos Reservados; 2022</p>
                <form method="POST" th:action="@{/logout}" style="display: inline">                    
                    <a href="#" onclick="this.parentNode.submit();" th:text="#{accion.cerraS}" style="color: black;" >Cerrar sesion</a> || 
                </form>
                <a th:href="@{/(lang=es)}" style="color: black;">ES</a> ||
                <a th:href="@{/(lang=en)}" style="color: black;">EN</a> ||
            </div>
        </footer>
        
        <section th:fragment="sidebar">
        <div class="col-3" id="sidebarAU" style="background-color:lightgray;">
                <div class="row">
                    <div class="mx-auto" style="width: 250px;">
                        <img src="/imagenes/5S-Graphic.png" alt="" class="rounded-circle" id="imagen">
                    </div>
                    <div class="row" style="gap:85px">
                        <!-- Ponerles un a cada uno para conectarlos a otra pagina -->
                        <button class="btn btn-dark" id="btn"><a style="color: white;"th:href="@{/}" th:text="#{sidebar.inicio}">Inicio</a></button>
                        <button class="btn btn-dark" id="btn" sec:authorize="hasRole('ROLE_ADMIN')"><a style="color: white;" th:href="@{/usuarios/usuario}" th:text="#{sidebar.usu}">Administrar Usuarios</a></button>
                        <button class="btn btn-dark" id="btn"><a style="color: white;" th:href="@{/auditoria/auditoria}" th:text="#{sidebar.auditorias}">Administrar auditoria</a></button>                        
                        <button class="btn btn-dark" id="btn" sec:authorize="hasRole('ROLE_ADMIN')"><a style="color: white;" th:href="@{/auditor/auditor}" th:text="#{sidebar.auditores}">Administrar auditores</a></button>
                        <button class="btn btn-dark" id="btn"><a style="color: white;" th:href="@{/solicitarAuditoria/solicitar}" th:text="#{sidebar.solicitudesAu}">Solicitudes de auditoria</a></button>
                    </div>
                    <div class="col-xs-12" style="height:100px;"></div>
                    <button class="btn btn-dark" id="cerrar-sesion"><form method="POST" th:action="@{/logout}" style="display: inline">                    
                    <a href="#" onclick="this.parentNode.submit();" th:text="#{accion.cerraS}"style="color: white;" >Cerrar sesion</a> 
                </form></button>
                </div>
            </div>
        </section>
        
        
        <!-- 2versiones -->
        
        
        
        <section th:fragment="sidebar2">
        <div class="col-3" id="sidebarAU" style="background-color:lightgray;">
                <div class="row">
                    <div class="mx-auto" style="width: 250px;">
                        <img src="/imagenes/5S-Graphic.png" alt="" class="rounded-circle" id="imagen">
                    </div>
                    <div class="row" style="gap:85px">
                        <!-- Ponerles un a cada uno para conectarlos a otra pagina -->
                        <button class="btn btn-dark" id="btn"><a style="color: white;"th:href="@{/}" th:text="#{sidebar.inicio}">Inicio</a></button>
                        <button class="btn btn-dark" id="btn"><a style="color: white;" th:href="@{/noticias/noticias}" th:text="#{plantilla.noticias}">Noticias</a></button>
                        <button class="btn btn-dark" id="btn"><a style="color: white;" th:href="@{/fqa/fqa}" th:text="#{plantilla.pf}">PF</a></button>
                        <button class="btn btn-dark" id="btn"><a style="color: white;" th:href="@{/material/material}" th:text="#{plantilla.materialAp}">Material de apoyo</a></button>                        
                    </div>
                    <div class="col-xs-12" style="height:310px;"></div>
                    <button class="btn btn-dark" id="cerrar-sesion"><form method="POST" th:action="@{/logout}" style="display: inline">                    
                    <a href="#" onclick="this.parentNode.submit();" th:text="#{accion.cerraS}"style="color: white;" >Cerrar sesion</a> 
                </form></button>
                </div>
            </div>
        </section>
        
        <footer th:fragment="footer2" class="footer2"> 
            <div>
                <p style="color: black" th:text="#{plantilla.derechos}"> &COPY; Derechos Reservados; 2022</p>
                <form method="POST" th:action="@{/logout}" style="display: inline">                    
                    <a href="#" onclick="this.parentNode.submit();" th:text="#{accion.cerraS}" style="color: black;" >Cerrar sesion</a> || 
                </form>
                <a th:href="@{/(lang=es)}" style="color: black;">ES</a> ||
                <a th:href="@{/(lang=en)}" style="color: black;">EN</a> ||
            </div>
        </footer>
      
    </body>
</html>
