#imagen{
    height: 100px;
    width: 100px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
}

#imagenAU{
    height: 95px;
    width: 100px;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 40px;
}

#sidebarAU{
    width: 200px;
    height: 95%;
    border-radius: 15px;
    position: fixed;
    top: 10px;
    left: 10px;
}

#sidebar{
    width: 200px;
    height: 95%;
    border-radius: 15px;
    position: fixed;
    top: 10px;
    left: 10px;
}
#center{
    width: 100%;
    height: 500%;
    border-radius: 15px;
    position: fixed;
    top: 120px;
    left: 200px;
}
#btn{
    margin-left: 20px;
    width: 150px;
    height: 40px;
    font-size: 13px;
}
#cerrar-sesion{
    margin-left: 20px;
    width: 150px;
    height: 40px;
    font-size: 13px;
}
#img-not-g{
    width: 1000px;
    height: 250px;
    margin-left: 40px;
    margin-top:100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-not-p{
    width: 900px;
    height: 135px;
    margin-left: 90px;
    margin-top: 10px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#leer-mas{
    margin-left: 460px;
    width: 150px;
    height: 30px;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;

}

#section{

    color: white;
    position: absolute;
    top: 10%;
    left: 20%;
    height: 70%;
    width: 70%;
    background-color: lightgray;
    padding: 12px;
    overflow: auto;
    text-align: center;
}

#sectionG{

    color: white;
    position: absolute;
    top: 10%;
    left: 20%;
    height: 70%;
    width: 70%;
    padding: 12px;
    overflow: auto;
    text-align: center;
}

#centerG{
    width: 100%;
    height: 500%;
    border-radius: 15px;
    position: fixed;
    top: 120px;
    left: 200px;
}

#guia{

    width: 1000px;
    height: 100px;
    margin-left: 40px;
    margin-top:100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}


#sectionf{

    color: white;
    position: absolute;
    top: 10%;
    left: 20%;
    height: 70%;
    width: 70%;
    padding: 12px;
    overflow: auto;
    text-align: center;
}

#centerf{
    width: 100%;
    height: 500%;
    border-radius: 15px;
    position: fixed;
    top: 120px;
    left: 200px;
}

#fqa{

    width: 1000px;
    height: 100px;
    margin-left: 40px;
    margin-top:100px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}

details{ 
    
    background: #252323;
    padding: .5rem;
    border-radius: 6px;
    margin: .5rem;
    cursor: pointer;
}