<!DOCTYPE html>

<html>
    <head>
        <title>User Login</title>
        <meta charset="UTF-8">
        <link href="css/index.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section class="form-login">
            <h5>User Login</h5>
            <input class ="controls" type="text" name="user" value="" placeholder="User">
            <input class="controls" type="password" name="password" value="" placeholder="Password">
            <input class= "buttons" type="submit" name="boton" value="Login">
            <p><a href="#"> Reset password</a></p>
        </section>
        <div></div>
    </body>
</html>
