<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{auditor.titulo}">Auditores</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header th:replace="layout/plantilla :: header"/>
    <div>
        <br>
        <br>
        <h2 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif"  th:text="#{auditor.mensaje1}">Inscribe la informacion del auditor</h2>
        <br>
        <br>
        <h2 style="color: black; text-align:center" th:text="#{auditor.lista}">Lista de auditores</h2>
        <a th:href="@{/auditor/nuevoAuditor}" th:text="#{auditor.nuevo}">Nuevo auditor</a>
        <div th:if="${auditores!=null and !auditores.empty}">
            <table border="1" style="color: black; text-align: center;">
                <thead>
                    <tr>
                        <th th:text="#{auditor.nombre}">Nombre auditor</th>
                        <th th:text="#{auditor.apellidos}">Apellidos</th>
                        <th th:text="#{auditor.correo}">Correo</th>
                        <th th:text="#{auditor.cedula}">Cedula</th>
                        <th th:text="#{accion.actualizar}">Modificar</th>
                        <th th:text="#{accion.eliminar}">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="auditor : ${auditores}">
                        <td th:text="${auditor.nombre}"></td>
                        <td th:text="${auditor.apellidos}"></td>
                        <td th:text="${auditor.correo}"></td>
                        <td th:text="${auditor.cedula}"></td>   
                        <td><a th:href="@{/auditor/modifica/} + ${auditor.id_Auditor}">Modificar</a></td>
                        <td><a th:href="@{/auditor/eliminar/} + ${auditor.id_Auditor}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${auditores == null or auditores.empty}"> 
            <p style="color: black;"  th:text="#{auditor.mensaje2}">En este momento no tenemos ningun auditor en lista</p>
        </div>
    </div>
    
    <footer th:replace="layout/plantilla :: footer"/>
</body>
</html>