<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{auditorM.titulo}">Modificar Auditor</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header th:replace="layout/plantilla :: header"/>
    <div>
        <br>
        <br>
        <h2 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif" th:text="#{auditorM.mensaje1}">Modificar un auditor</h2>
        <br>
        <br>
        <h2 th:text="#{auditorM.mensaje2}">Auditor a modificar</h2>
        <a th:href="@{/}" th:text="#{accion.regresar}">Regresar</a>
        <br/>
        <div style="color: black;">
            
            <form th:action="@{/auditor/guardarAuditor}"
                  method="post"
                  th:object="${auditor}">
                
                <input type="hidden" name="id_Auditor" th:field="*{id_Auditor}"/>
                <label for="nombre" th:text="#{auditorM.nombre}">Nombre del Auditor:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br>
                    
                <label for="apellidos" th:text="#{auditorM.apellidos}">Apellidos:</label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br>
                    
                <label for="correo" th:text="#{auditorM.correo}">Correo del auditor:</label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br>
                    
                <label for="cedula" th:text="#{auditorM.cedula}">Cedula del auditor</label>
                <input type="text" name="cedula" th:field="*{cedula}"/>
                <br>
                    
                <input type="submit" name="guardar" value="Guardar" th:text="#{accion.guardar}">
                    
            </form>
        </div>
    </div>
    <center>
    <footer th:replace="layout/plantilla :: footer"/>
    </center>
</body>
</html>