<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Modificar Auditor</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    <header class="header">
        <nav class="nav">
            <a class="logo nav-link">Audit System</a>                 
            <ul class="nav-menu">        
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/}">Home</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/solicitarAuditoria/solicitar}">Solicitar auditoria</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/auditor/auditor}">Voluntarios para auditoria</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/auditoria/auditoria}">Auditorias</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/loginUsuario/logUser}">User Login</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/loginAdmin/logAdmin}">Admin Login</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/noticias/noticias}">News</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/fqa/fqa}">FQA</a></li>
                <li class="nav-menu-item"><a class= "nav-menu-link" th:href="@{/material/material}">Material de apoyo</a></li>
            </ul>
        </nav>
    </header>
</head>
<body>
    <div>
        <br>
        <br>
        <h1 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif">Modificar una solicitud</h1>
        <br>
        <br>
        <h2>Auditor a modificar</h2>
        <a th:href="@{/}">Regresar</a>
        <br/>
        <div style="color: black;">
            <form th:action="@{/auditor/guardarAuditor}"
                  method="post"
                  th:object="${auditor}">
                <input type="hidden" name="id_Auditor" th:field="*{id_Auditor}"/>
                <label for="nombre">Nombre del Auditor:</label>
                <input type="text" name="nombre" th:field="*{nombre}"/>
                <br>
                <label for="apellidos">Apellidos</label>
                <input type="text" name="apellidos" th:field="*{apellidos}"/>
                <br>
                <label for="correo">Correo del auditor</label>
                <input type="email" name="correo" th:field="*{correo}"/>
                <br>
                <label for="cedula">Cedula del auditor</label>
                <input type="text" name="cedula" th:field="*{cedula}"/>
                <br>
                <input type="submit" name="guardar" value="Guardar">
            </form>
        </div>
    </div>
</body>
</html>