<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{noticias.titulos}">Noticias</title>
        <section th:replace="layout/plantilla :: head"/>
    </head>
    <body style="background-color: #006A96">
        <div class="row">
            <div class="col-3">
                <section th:replace="layout/plantilla :: sidebar2"/>
            </div>
            <div class="col-9">
            <section id="sectionF">
                    <h1 style="color: black;" th:text="#{noticias.titulo1}">Espacio para las noticias semanales sobre 5'S</h1>
                    <br>
                    <br>
                    <br>
                <article style="background-color: lightgrey">
                    <header><h2><span style="color: black;"><p>Catalunya Wagen implanta las 5'S</p></span></h2></header>
                        <br>
                        <br>
                        <div>
                            <img src="/imagenes/imagen_1-704-214.jpg" alt=""/>
                        </div>
                        <br>
                        <br>
                        <div>
                        <span style="color: black"><p>Promovido por su nuevo Director de Postventa, 
                                Ángel Rodríguez, Catalunya Wagen ha puesto en marcha su plan 5S. 
                                Bajo este enigmático nombre se esconde una filosofía de trabajo que, 
                                en última instancia, mejorará la satisfacción de nuestros clientes. 
                                Las 5S son una creación del sistema productivo japonés que está causando 
                                furor en las empresas occidentales. Aplicada a nuestros talleres significa 
                                seguir una serie de normas que tienden a la mejora en el orden, la organización 
                                y la limpieza en los lugares de trabajo, de forma que se incrementa el bienestar de 
                                los operarios y se mejora la productividad del Servicio Postventa.</p></span>
                        </div>
                        <div>
                        <a style="color: black;" href="https://www.volkswagenbarcelona.es/volkswagen/inicio/noticias/articulo/catalunya-wagen-implanta-las-5s/contenido/17600 "th:text="#{noticias.leermas}">Leer mas</a>
                        </div>
                        <br>
                </article>
                <br>
                <br>
                <br>
                <br>
                <br> 
                <article style="background-color: lightgrey">
                    <header><h2><span style="color: black;"><p>AyA y las 5S en el trabajo</p></span></h2></header>
                        <br>
                        <br>
                        <div>
                            <img src="/imagenes/aya_facebook_thumbnail.jpg" width="415" height="415"/>
                        </div>
                        <br>
                        <br>
                        <div>
                        <span style="color: black"><p>Recientemente, 
                                se ha empezado a informar y a intentar aplicar en 
                                la institución el Programa de las 5S. Es una metodología creada en Japón 
                                en los años 60 por la empresa Toyota, cuyo objetivo es mejorar las condiciones de 
                                trabajo dirigidas a minimizar el desperdicio, con miras a asegurar que el espacio laboral 
                                esté sistemáticamente limpio y ordenado y con el cual mejorar la productividad y la seguridad, 
                                a la vez que se crean procesos eficientes, eficaces y efectivos continuos en aras de propiciar 
                                un ambiente organizado y altamente motivado.
                                Las herramientas conceptuales y prácticas con las que se pretende 
                                lograr tal objetivo son: Seiri (eliminar todo lo innecesario y despejar 
                                tu mesa de trabajo), Seiton (organizar el espacio de trabajo eficazmente), 
                                Seiso (no ensuciar), Seiketsu (establecer procedimientos y métodos de trabajo) 
                                y Shitsuke (respetar las reglas de trabajo mediante la continuidad y la constancia).</p></span>
                        </div>
                        <div>
                        <a style="color: black;" href="https://www.diarioextra.com/Noticia/detalle/393551/aya-y-las-5s-en-el-trabajo" th:text="#{noticias.leermas}">Leer mas</a>
                        </div>
                        <br>
                </article>  
            </section> 
            </div>    
        </div>
    </body>
</html>
