<!DOCTYPE html>
<html>
    <head>
        <title>PP</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/style.css" rel="stylesheet" type="text/css"/>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col" id="sidebar" style="background-color: lightgray;">
                    <div class="row">
                        <div class="mx-auto" style="width: 250px;">
                            <img src="https://imgs.search.brave.com/prs_70H82jzm39dNmP0z5nh2xy7Y4JPJgXN-fDGWxik/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5R/OXJzWnBkNHRjVmRa/QW1lQ2hndFhBSGFI/YSZwaWQ9QXBp"
                                 alt="" class="rounded-circle" id="imagen">
                        </div>
                        <div class="row" style="gap:250px">
                            <button class="btn btn-light" id="btn">Administrar auditoria</button>
                            <button class="btn btn-light" id="btn">Generar informe</button>
                            <button class="btn btn-light" id="btn">Ultimas noticias</button>
                            <button class="btn btn-light" id="btn">Material de apoyo</button>
                        </div>
                        <div class="col-xs-12" style="height:200px;"></div>
                        <button class="btn btn-light" id="cerrar-sesion">Cerrar sesion</button>
                    </div>
                </div>
                <div class="col" id="center">
                    <div class="col-md-8 offset-md-2">
                        <div style="background-color: lightgray;" id="img-not-g">
                            <p>Imagen noticia</p>
                        </div>
                        <div class="col-md-12" style="background-color: lightgray;" id="img-not-p">
                            <p>Imagen noticia</p>
                        </div>
                        <div class="col-md-12" style="background-color: lightgray;" id="leer-mas">
                            <p>Leer mas</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
