<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{noticias.titulos}">Noticias</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="/estilos.css" rel="stylesheet" type="text/css"/>
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
                      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
                    </head>
                    <body style="background-color: #29b1b7" class="bodyK">
                        <div class="row">
                            <div class="col-3" id="sidebarAU" style="background-color: lightgray;">
                                <div class="row">
                                    <div class="mx-auto" style="width: 250px;">
                                        <img src="https://imgs.search.brave.com/prs_70H82jzm39dNmP0z5nh2xy7Y4JPJgXN-fDGWxik/rs:fit:474:225:1/g:ce/aHR0cHM6Ly90c2Ux/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5R/OXJzWnBkNHRjVmRa/QW1lQ2hndFhBSGFI/YSZwaWQ9QXBp"
                                             alt="" class="rounded-circle" id="imagen">
                                    </div>
                                    <div class="row" style="gap:85px">
                                        <button class="btn btn-light" id="btn"><a th:href="@{/}" th:text="#{sidebar.inicio}">Inicio</a></button>
                                        <button class="btn btn-light" id="btn" th:text="#{sidebar.adu}">Administrar auditoria</button>
                                        <button class="btn btn-light" id="btn" th:text="#{sidebar.gi}">Generar informe</button>
                                        <button class="btn btn-light" id="btn" th:text="#{sidebar.un}">Ultimas noticias</button>
                                        <button class="btn btn-light" id="btn" th:text="#{sidebar.ma}">Material de apoyo</button>
                                    </div>
                                    <div class="col-xs-12" style="height:200px;"></div>
                                    <button class="btn btn-light" id="cerrar-sesion" th:text="#{accion.cerraS}">Cerrar sesion</button>
                                </div>
                            </div>
                            <section id="section">
                                <article>
                                    <header><h1><span style="color: #000;">Catalunya Wagen implanta las 5S</span></h1></header>
                                    <div class="col-9">
                                        <div class="col" id="center">
                                            <div class="col-md-8 offset-md-2">
                                                <div style="background-color: lightgray;" id="img-not-g">
                                                    <img src="/imagenes/imagen_1-704-214.jpg" alt=""/>
                                                </div>
                                                <div class="col-md-12" style="background-color: lightgray;" id="img-not-p">
                                                    <span style="color: #000"><p>Promovido por su nuevo Director de Postventa, Ángel Rodríguez, Catalunya Wagen ha puesto en marcha su plan 5S. Bajo este enigmático nombre se esconde una filosofía de trabajo que, en última instancia, mejorará la satisfacción de nuestros clientes. Las 5S son una creación del sistema productivo japonés que está causando furor en las empresas occidentales. Aplicada a nuestros talleres significa seguir una serie de normas que tienden a la mejora en el orden, la organización y la limpieza en los lugares de trabajo, de forma que se incrementa el bienestar de los operarios y se mejora la productividad del Servicio Postventa.</p></span>
                                                </div>
                                                <div class="col-md-12" style="background-color: lightgray;" id="leer-mas">
                                                    <a href="https://www.volkswagenbarcelona.es/volkswagen/inicio/noticias/articulo/catalunya-wagen-implanta-las-5s/contenido/17600 "th:text="#{noticias.leermas}">Leer mas</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </article>
                                <br>
                            </section>            
                        </div>
                    </body>
</html>
