<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head>
        <title th:text="#{aplicacion.titulo}">Sistema de auditorias</title>
        <section th:replace="layout/plantilla :: head"/>
        
</head>
<body style="background-color: lightgray;">
    <header th:replace="layout/plantilla :: header"/>
    <br>
    <br>
        <section>
            <div id="devIndex">
                <br>
                <br>
                <h1 style="color: black; text-align:center;font-family:sans-serif" th:text="#{index.bienvenido}">Bienvenido!</h1>
                <br>
                <br>
                <center>
                    <figure>
                        <img src="/imagenes/5S-Graphic.png" width="415" height="415">
                    </figure>
                </center>
                <br>
                <br>
                <h2 style="color: black; text-align:center;font-family:sans-serif" th:text="#{index.frase}" > Actualización constante y mejora continua. </h2>
            </div>    
        </section>

<center>
    <footer th:replace="layout/plantilla :: footer"/>
</center>
</body>
</html>