<!DOCTYPE html>

<html>
    <head>
        <title>Administrator login</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <a th:href="@{/Noticias/noticias}">Noticias</a>
        <a th:href="@{/loginUsuario/loginUser}">loginUser</a>
</head>
<body>
    <section class="form-login">
        <h5>Administrator login</h5>
        <input class="controls" type="text" name="usuario" value="" placeholder="User">
        <input class="controls" type="password" name="contrasena" value="" placeholder="Password">
        <input class="buttons" type="submit" name="" value="Ingresar">
        <p><a href="#">¿Olvidastes tu Contraseña?</a></p>
    </section>

</body>
</html>