<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">

    <head>
        <title th:text="#{aplicacion.titulo}">Sistema de auditorias</title>
        <meta charset="UTF-8">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <header th:replace="layout/plantilla :: header"/>
    
    <div>
        <br>
        <br>
        <h1 style= "background-color:#29b1b7; text-align:center;font-family:sans-serif" th:text="#{index.bienvenido}">Bienvenido!</h1>
        <br>
        <br>
        <center>
            <figure>
                <img src="/imagenes/Logo.png" width="350" height="350" />
            </figure>
        </center>
        <br>
        <br>
        <h2 style="background-color:#29b1b7; text-align:center;font-family:sans-serif"th:text="#{index.frase}" > Actualización constante y mejora continua. </h2>
    </div>
    <div style="text-align: center">
        <p>
    </div>
    <br>
    <br>
<center>
    <footer th:replace="layout/plantilla :: footer"/>
</center>
</body>
</html>