<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>        
        <meta charset="UTF-8">
        <title th:text="#{login.login}">Inicio de Sesion</title>        
        <link href="/css/logins.css" rel="stylesheet" type="text/css"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <section class="form-login">

            <h5 th:text="#{login.login}">Inicio de Sesion</h5>
            <form method="POST" th:action="@{/login}">
                <label for="username"  th:text="#{login.usuario}">Usuario:</label><br/>
                <input class="controls" type="text" name="username" id="username" value="" placeholder="User">

                <label for="password" th:text="#{login.clave}">Clave</label><br/>
                <input class="controls" type="password" name="password" id="password" value="" placeholder="Password">
                <button style="align-content: center" type="submit" value="Login" th:text="#{login.boton}">Ingresar</button>

                <p><a href="#" th:text="#{login.mensaje1}">Olvido su clave?</a></p>

            </form>
        </section>

    </body>
</html>