<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>        
        <title th:text="#{login.login}">Inicio de Sesion</title>        
        <link href="/css/login.css" rel="stylesheet" type="text/css"/>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body style="background-color: #006A96;">
        
        
        <div class="wrapper fadeInDown">
            <div id="formContent">
              <!-- Tabs Titles -->

              <!-- Icon -->
              <div class="fadeIn first">
                  <img src="imagenes/5S-Graphic.png" width="50" height="50"/>
              </div>

              <!-- Login Form -->
              <form method="POST" th:action="@{/login}">
                <input type="text" id="username" class="fadeIn second" name="username" placeholder="login">
                <input type="text" id="password" class="fadeIn third" name="password" placeholder="password">
                    
                <input type="submit" class="fadeIn fourth" value="Log In">
              </form>

              <!-- Remind Passowrd -->
              <div id="formFooter">
                  <p th:text="#{login.mensaje2}">Bienvenido!</p>
              </div>

        </div>
    </div>
    </body>
</html>