<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title th:text="#{pf.titulo}">PF</title>
        <section th:replace="layout/plantilla :: head"/>
    </head>
    <body style="background-color: #006A96">
        <div class="row">
            <div class="col-3">
                <section th:replace="layout/plantilla :: sidebar2"/>
            </div>
            <div class="col-9"> 
                <section id="sectionF">
                    <h1 style="color: black;" th:text="#{pf.titulo1}">PF. Seccion de preguntas frecuentes.</h1>
                    <br>
                    <br>
                    <br>
                    <div class="col-md-8 offset-md-2">
                                    <details> 
                                        <summary th:text="#{pf.linea1}">FQA1. ¿Qué son las 5S? </summary>
                                        <div>
                                            <p th:text="#{pf.linea2}">Las “5S” son las iniciales de cinco palabras japonesas que nombran a cada una de las cinco fases que componen el método:</p>
                                            <p th:text="#{pf.linea3}">SEIRI – CLASIFICACIÓN. Consiste en identificar y separar los materiales necesarios de los innecesarios y en desprenderse de estos últimos. </p>
                                            <p th:text="#{pf.linea4}">SEITON – ORDEN. Se trata de establecer el modo en que deben ubicarse e identificarse los materiales necesarios, de manera que sea fácil y rápido encontrarlos, utilizarlos y reponerlos.</p>
                                            <p th:text="#{pf.linea5}">SEISO – LIMPIEZA. Basada en identificar y eliminar las fuentes de suciedad, asegurando que todos los medios se encuentran siempre en perfecto estado.</p>
                                            <p th:text="#{pf.linea6}">SEIKETSU – ESTANDARIZACIÓN. El objetivo es distinguir fácilmente una situación normal de otra anormal, mediante normas sencillas y visibles para todos dando lugar a un control visual.</p>
                                            <p th:text="#{pf.linea7}">SHITSUKE – DISCIPLINA. Consiste en trabajar permanentemente de acuerdo con las normas establecidas.</p>  
                                        </div>
                                    </details>
                                    <br>
                                    <details> 
                                        <summary th:text="#{pf.linea8}">FQA2. ¿Cuáles son sus ventajas? </summary>
                                        <div>
                                            <p th:text="#{pf.linea9}">Mayor productividad. </p>
                                            <p th:text="#{pf.linea10}">Mejora las condiciones de trabajo, aumentando los niveles de seguridad y disminuyendo los accidentes. </p>
                                            <p th:text="#{pf.linea11}">Reducción de pérdidas de tiempo y tiempos de respuesta más cortos. </p>
                                            <p th:text="#{pf.linea12}">Mejora en la calidad de productos y/o servicios.</p>
                                            <p th:text="#{pf.linea13}">Bajo nivel de inversión para lograr su implementación. </p>
                                            <p th:text="#{pf.linea14}">Genera cultura organizacional y disciplina personal.</p>
                                        </div>
                                    </details>
                                    <br>
                                    <details> 
                                        <summary th:text="#{pf.linea15}">FQA3. ¿A quién va dirigido el método de las 5s?</summary>
                                        <div>
                                            <p th:text="#{pf.linea16}">Las 5S son universales, se pueden aplicar en todo tipo de empresas y organizaciones,
                                                tanto en talleres como en oficinas, incluso en aquellos que aparentemente se encuentran suficientemente ordenados y limpios. 
                                                Por tanto, cualquier tipo de organización, ya sea industrial o de servicios, que desee iniciar el camino de la mejora continua 
                                                puede implementarlo en áreas como el mantenimiento de activos e instalaciones.  </p>
                                        </div>
                                    </details>
                                    <br>
                                    <details> 
                                        <summary th:text="#{pf.linea17}">FQA4. ¿Cuáles son los requerimientos metodológicos de las 5S?</summary>
                                        <div>
                                            <p th:text="#{pf.linea18}">El compromiso y la participación del personal de los distintos niveles de la organización, especialmente de la gerencia.
                                                “Mientras la alta dirección no brinde su apoyo claro y decidido […] el proyecto no será factible” (Stryker, en Garfield, 1992, p. 197).</p>
                                            <p th:text="#{pf.linea19}">La cultura laboral existente en la organización puede acelerar o frenar la adopción de las nuevas formas de trabajo que requieren las 5S (Robinns, 1999).</p>
                                            <p th:text="#{pf.linea20}">La disponibilidad de tiempo y su administración. Se debe cuidar que el proceso no sea demasiado lento o demasiado largo, 
                                                pues esto puede incrementar los costos y disminuir la motivación del personal y los beneficios percibidos. 
                                                Imai (1989, p. 121) señala que “un gerente debe dedicar por lo menos el 50% de su tiempo al mejoramiento” y, 
                                                en la implementación de las 5S, su participación activa y continuada es crucial para optimizar el uso del tiempo.</p>
                                        </div>
                                    </details>
                                    <br>
                                    <details> 
                                        <summary th:text="#{pf.linea21}">FQA5. ¿Cuales son los objetivos de las 5S?</summary>
                                        <div>
                                            <p th:text="#{pf.linea22}">Servir como retroalimentación para evaluación del plan de implantación</p>
                                            <p th:text="#{pf.linea23}">Presentar las oportunidades de mejora para las áreas auditadas</p>
                                            <p th:text="#{pf.linea24}">Medir el nivel actual de 5S para posteriormente evaluar su evolución en tu empresa</p>
                                            <p th:text="#{pf.linea25}">Verificar el nivel actual de 5S para comparar con la meta establecida</p>
                                            <p th:text="#{pf.linea26}">Servir como herramienta de promoción continua de las 5S</p>
                                            <p th:text="#{pf.linea27}">Comparar la evolución del proceso de 5S por toda la empresa</p>
                                            <p th:text="#{pf.linea28}">Verificar el nivel de consolidación de la implantación de las 5S</p>
                                        </div>
                                    </details>
                            </div>
                </section>
            </div>  
        </div>
    </body>
</html>
